<p id="notice"><%= notice %></p>

<p>
  <%= @post.blog_entry.html_safe %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
<!-- missing code here -->
<p>
  by <%= @post.user.username %>
</p>

<p>
  <strong>Blog entry:</strong>
  <%= @post.blog_entry.html_safe %>
</p>

<p>
	<%= link_to 'Edit', edit_post_path(@post) %>
</p>

<div id="comments">
    <%= render 'comments/form', comment: @comment %>
    <% @post.comments.each do |comment| %>
      <p>
         <strong><%= link_to comment.user.username, user_posts_path(name: comment.user.username) %> said...</strong>
  	     <%= comment.comment_entry %>
	    </p>
    <% end %>
</div>

<p>
<%= link_to 'Back', posts_path %>
</p>